<html>
  <head><title></title></head>
  <body>
    welcome <%= user%>;
      <p><%= videodata.categoryName%></p>
      <ul>
          <%videodata.categories.forEach(function(item){%>
          <li><%= item.categoryName%></li>  
          <%});%>
          <ul>
  </body>
</html>